@media screen and (max-width: 800px) {
    div {
        max-width: 100%;
        background-color: rgb(161, 219, 241);
    }
}

html * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand h1 {
    font-size: 5em;
    font-weight: bolder;
    color: blue;
    letter-spacing: 1.25rem;
    text-align: center;
    text-shadow: 3px 2px 4px gray;

}

.brand h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
    color: darkgrey;
    letter-spacing: 0.75rem;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 75vh;
    overflow: hidden;
}

.topic {
    display:inline-block;
    flex-direction: column;
    width: 650px;
    margin: 0px 25px 0px 25px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
}


.flex-container-about {
    display:inline-block;
    flex-direction: column;
    width: 650px;
    margin: 25px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
}


.flex-container-about > h2 {
    text-transform: uppercase;
    text-align: justify;
    font-size: 1.25em;
    color: blue;
    letter-spacing: 0.25rem;
    text-shadow: 2px 1px 2px black;
}


.flex-container-contact {
    display:inline-block;
    flex-direction: column;
    width: 650px;
    margin: 25px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
}

.flex-container-contact > h2 {
    text-transform: uppercase;
    text-align: justify;
    font-size: 1.25em;
    color: blue;
    letter-spacing: 0.25rem;
    text-shadow: 2px 1px 2px black;
}

.flex-container-login {
    display:inline-block;
    flex-direction: column;
    width: 650px;
    margin: 25px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
}

.flex-container-login > h2 {
    text-transform: uppercase;
    text-align: justify;
    font-size: 1.25em;
    color: blue;
    letter-spacing: 0.25rem;
    text-shadow: 2px 1px 2px black;
}


.flex-container-registration {
    display:inline-block;
    flex-direction: column;
    width: 650px;
    margin: 25px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
}

.flex-container-registration > h2 {
    text-transform: uppercase;
    text-align: justify;
    font-size: 1.25em;
    color: blue;
    letter-spacing: 0.25rem;
    text-shadow: 2px 1px 2px black;
}


footer {
    background-color: blue;
    color: white;
    padding: 5px 5px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-align: center;
}

